section#author
    .container
        h3 О тренере
        .autor_col_left
            img(src="img/about_bg.png", alt="Задний фон за тренером")#about_bg
            img(src="img/tess_about.png", alt="Татьяна Тэсс")#tess_about
        .autor_col_right
            #about_description
                h4 Татьяна Тэсс
                p
                    span «Меня зовут Татьяна Тэсс, у меня два высших образования, за плечами аспирантура, имею несколько научных публикаций и большой опыт преподавания семейного и административного права
                p Эзотерикой я начала активно заниматься 
                    span с 1991 года. 
                    | Закончила обучение в 
                    span Академии Магии и парапсихологии, 
                    | и в 1992 году училась 
                    span в Институте парапсихологии. 
                    | Имею дипломы  биоэнерготерапевта, биоэнерго-оператора, а также диплом экстрасенсорного целителя, а также сертификаты таролога, сертификаты обучения деревенской, заговорной и ритуальной  магии
                p С 1993 года занимаюсь
                    span  гаданием,
                    |  в том числе на картах  
                    span ТАРО 
                    | и 
                    span Ленорман. 
                    | В настоящее время я практикую 
                    span заговорную, ритуальную и деревенскую магию, 
                    | а также 
                    span магию Русских рун. 
                    | Изучаю взаимосвязь магии и квантовой физики, связь заговорной магии и вербально-волновой генетики. 
                    span Я практик, 
                    | преподавать он-лайн начала сравнительно недавно»