section#certificates
    .container
        #certificates_container.owl-carousel.owl-theme
            a(href="img/cert_1.jpg" data-fancybox="certs")
                img(src="img/cert_1_min.jpg", alt="Сертификат 1")
            a(href="img/cert_2.jpg" data-fancybox="certs")
                img(src="img/cert_2_min.jpg", alt="Сертификат 2")
            a(href="img/cert_3.jpg" data-fancybox="certs")
                img(src="img/cert_3_min.jpg", alt="Сертификат 3")
            a(href="img/cert_4.jpg" data-fancybox="certs")
                img(src="img/cert_4_min.jpg", alt="Сертификат 4")
            a(href="img/cert_5.jpg" data-fancybox="certs")
                img(src="img/cert_5_min.jpg", alt="Сертификат 5")
            a(href="img/cert_6.jpg" data-fancybox="certs")
                img(src="img/cert_6_min.jpg", alt="Сертификат 6")
            a(href="img/cert_7.jpg" data-fancybox="certs")
                img(src="img/cert_7_min.jpg", alt="Сертификат 7")
a.button.button_mail.button_partner Партнерская программ