mixin fors(q,a,cl)
    .col-md-4.col-sm-4.for_questions(class= cl)
        .for_container
            .for_img
            p.for_question= q
            p.for_answer= a
section#need_for
    .container
        h3 Этот интенсив необходим вам, если:
        .row.for_questions_all
            +fors('Бедность, нищета, отсутствие перспектив стали вечными спутниками жизни?','Устраните  из вашей жизни негативные программы и негативные блоки,  вы сможете очищать энергию, пространство и предметы, вы сможете снимать порчу и сглаз', 'for_question_1')
            +fors('Грозит увольнение, сокращение, потеря работы?','Сможете  легко получать  желаемую вам работу, увеличивать материальный достаток, увеличивать ваш финансовый поток,  получать прибыль и доход', 'for_question_2')
            +fors('Бизнес переживает кризис, грозит банкротство, потеря своих вложений?','Вы сможете  привлекать клиентов и партнеров в ваш бизнес, вы будете получать необходимые вам ресурсы из разных самых неожиданных источников', 'for_question_3')
        .row.for_questions_all
            +fors('В ближайшей перспективе возможны - потеря прибыли, потеря имущества,  потеря недвижимости (залог, ипотека)?','Научитесь устранять долговую и кредитную зависимость. Сможете защитить свое имущество: жилье, автомобиль, дачу, участки; защитить свой  бизнес, положение в организации, избежать увольнения и сокращения', 'for_question_4')
            +fors('Прошли через развод, потерю мужа, потерю кормильца, потерю семьи?','Привлечете  в свою жизнь нужного вам партнера,  сможете  создать  счастливую семью, сможете  защитить свои отношения и свою семью от вмешательства третьих лиц','for_question_5')
            +fors('Преследуют болезни, потеря работоспособности, старость,  зависимость от других людей?','Приобретете уверенность в себе, станете привлекательным для  своих друзей, интересным для работодателей, станете успешным и притягательным человеком, улучшите свое здоровье', 'for_question_6')
        .row.for_questions_all
            +fors('В вашу жизнь вошла болезнь близких людей: родителей, супруга, детей?','Научитесь защищать свое биополе и биополе своих близких, устранять причину соматических заболеваний, улучшать здоровье своих близких', 'for_question_7')
            +fors('Переживаете потерю любимых, друзей, расставание?','Получите возможность ликвидировать причину  конфликтных отношений в семье и на работе, убрать из своих семейных отношений разногласия, обиды, недопонимание',  'for_question_8')
            +fors('Испытываете одиночество, неприятие окружающими, находитесь в ситуации «гадкого утенка» - полнота, потеря привлекательности, сексуальности?','Сможете кардинально улучшить свою внешность: обрести стройность, устранить признаки старения, восстановить свой гормональный фон', 'for_question_9')
        button.button.button_mail(data-toggle="modal" data-target="#myModalForm") Записаться