section#mail_section
    .container
        .row
            .col-lg-6
                h4.mail_section_title Запишитесь сейчас и получите БОНУС!
                p.mail_section_bonus Название бонуса
            .col-lg-3.col-md-6
                a.button.button_vk(href="" target="_blank" onclick="alert('Нет ссылки'); return false;") Записаться через 
                    i.fa.fa-vk(aria-hidden="true")
            .col-lg-3.col-md-6
                button.button.button_mail(data-toggle="modal" data-target="#myModalForm") Записаться через 
                    i.fa.fa-envelope(aria-hidden="true")