section#main_last
    .container
        .last_container
            h4 Достигай большего ежедневно!
            p Десятки учеников доверяют нам и реализуют свои цели
            h5 Начните сейчас это безоплатно!
            a.button.button_vk(href="" target="_blank" onclick="alert('Нет ссылки'); return false;") Записаться через 
                i.fa.fa-vk(aria-hidden="true")
            button.button.button_mail(data-toggle="modal" data-target="#myModalForm") Записаться через 
                i.fa.fa-envelope(aria-hidden="true")