section#main_screen
    include ../header
    #main_content
        .container
            p.pre  Бесплатный 2-х дневный интенсив
            h1 Русские руны и преображение реальности.
                br 
                | Все мы - прирожденные маги»
            p.main_content_date 
                span.main_icon.main_icon_calendar
                | 6 и 7 августа 
                span 19:00 мск
            p.main_content_author 
                span.main_icon.main_icon_horn
                | Татьяна Тэсс
            .video_wrapper.video_wrapper_main
                iframe(src="" allowfullscreen)
            img(src="img/tess_main.png", alt="Татьяна Тэсс")#tess_main