section#main_plan
    .container
        h3   План интенсива:
        #main_plan_days
            .main_plan_day.day_1
                h4 День 1
                ul.main_plan_day_list
                    li
                        span Происхождение  Русских рун. Понятие и сущность  Русских рун
                    li
                        span Порядок формирования намерения и эмоциональный настрой
                    li
                        span Энергетическая практика
                p.main_plan_day_bonus
                    span Бонус: 
                    | Изготовление и активация Русской руны «Рассеяние». Необходимо иметь: свеча, спички, лист бумаги, ручка
            .main_plan_day.day_2
                h4 День 2
                ul.main_plan_day_list
                    li
                        span Материалы для изготовления Русских рун, активация Русских рун
                    li
                        span Решение финансовых, карьерных проблем,  проблем в личной жизни, проблем со здоровьем  с помощью Русских рун
                    li
                        span Энергетическая практика
                p.main_plan_day_bonus
                    span Бонус: 
                    | Изготовление и активация Русской руны «Путь».  Необходимо иметь: свеча, спички, лист бумаги, ручка
        button.button.button_mail(data-toggle="modal" data-target="#myModalForm") Записаться