section#testimonials
    .container
        h3 Отзывы учеников
        #testims_container.owl-carousel.owl-theme
            a(href="img/testim_1.jpg" data-fancybox="testims")
                img(src="img/testim_1.jpg", alt="Сертификат 1")
            a(href="img/testim_2.jpg" data-fancybox="testims")
                img(src="img/testim_2.jpg", alt="Сертификат 2")
            a(href="img/testim_3.jpg" data-fancybox="testims")
                img(src="img/testim_3.jpg", alt="Сертификат 3")
            a(href="img/testim_4.jpg" data-fancybox="testims")
                img(src="img/testim_4.jpg", alt="Сертификат 4")
            a(href="img/testim_5.jpg" data-fancybox="testims")
                img(src="img/testim_5.jpg", alt="Сертификат 5")
            a(href="img/testim_6.jpg" data-fancybox="testims")
                img(src="img/testim_6.jpg", alt="Сертификат 6")
            a(href="img/testim_7.jpg" data-fancybox="testims")
                img(src="img/testim_7.jpg", alt="Сертификат 7")