<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="3 урок от Татьяны Тэсс")
		meta(property="fb:app_id" content="2030481470529055")
		title 3 урок от Татьяны Тэсс
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="../favicon.png")
		link(rel="stylesheet" href="../css/bootstrap.min.css")
		link(rel="stylesheet" href="../css/styles.css")
		script(src="//vk.com/js/api/openapi.js?153")
		script
			| VK.init({apiId: 6314801,onlyWidgets: true});
	body#bonus
		<!-- Yandex.Metrika counter -->
		script(type="text/javascript")
			| (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35450015 = new Ya.Metrika({ id:35450015, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/35450015" style="position:absolute; left:-9999px;" alt="")
		<!-- /Yandex.Metrika counter -->
		div#fb-root
		script
			| (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12&appId=2030481470529055&autoLogAppEvents=1';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
		section#main_screen
			#header
				.container
					a(href="/", target="_blank")
						img#logo(src="../img/logo.png", alt="Логотип")
					.contacts
						a.tel(href="callto:8-929-568-87-50")
							i.fa.fa-phone(aria-hidden="true")
							span 8-929-568-87-50
						a.tel(href="callto:8-499-346-79-46")
							i.fa.fa-phone(aria-hidden="true")
							span 8-499-346-79-46
						a.skype(href="skype:add?admin-mastervision")
							i.fa.fa-skype(aria-hidden="true")
							span admin-mastervision
						a.mail(href="mailto:info@mastervision.su")
							i.fa.fa-envelope(aria-hidden="true")
							span info@mastervision.su
			#main_content
				.container
					p.pre.bonus_pre  3 урок от Татьяны Тэсс
					h1.bonus_main_title «Изменить Геном ДНК в нашей власти»
					.video_wrapper.bonus_video_wrapper
						iframe(src="https://youtube.com/embed/pfzt5seC4FU?rel=0&autoplay=1" allowfullscreen)
					p.task_question 
						span Вопрос: 
						| Напишите в комментариях под видео, какие негативные установки влияют на ваше здоровье, на состояние вашего организма
		section#feedback
			.container
				h3.whore_whome_title Ваши ответы и вопросы к Татьяне пишите в формах ниже:
				.row
					.col-md-6.col-sm-6
						#vk_comments
						script(type="text/javascript")
							| VK.Widgets.Comments("vk_comments", { limit: 15,  attach: 0, autoPublish: 1 });
					.col-md-6.col-sm-6
						#fb
							.fb-comments(data-href="http://mastervision.su/tess-russian-runes/home-task-3/" data-width="100%" data-numposts="15" data-order-by="reverse_time")
		footer#footer
			.container
				.soc_buttons
					h5 Хотите узнать больше? Вступайте в наши группы!
					a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
						i(class="fa fa-facebook" aria-hidden="true")
					a(href="http://vk.com/mv_ezoterika" target="_blank")
						i(class="fa fa-vk" aria-hidden="true")
					a(href="https://twitter.com/MastervisionEzo" target="_blank")
						i(class="fa fa-twitter" aria-hidden="true")
					a(href="https://www.instagram.com/mastervision1/" target="_blank")
						i(class="fa fa-instagram" aria-hidden="true")
					a(href="https://ok.ru/mv.ezoterika" target="_blank")
						i(class="fa fa-odnoklassniki" aria-hidden="true")
					a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
						i(class="fa fa-youtube" aria-hidden="true")
					.clfix
				p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		<!--BEGIN JIVOSITE CODE-->
		script
			| (function() {var widget_id = 'cMdj5UfoZX';var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//code.jivosite.com/script/widget/' + widget_id;var ss = document.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s, ss);})();
		<!--END JIVOSITE CODE-->