#author
    padding: 100px 0 0
    overflow hidden
.autor_col_left
    position relative
    float left
    width: 48%
.autor_col_right
    float: right
    width: 52%
#about_bg
    position: absolute
    bottom: 33px;
    left: -320px;
#tess_about
    position: relative
    bottom: 50px;
    left: 3px;
#about_description
    h4
        font-size: 30px;
        line-height: 0.933;
        color: rgb(50, 44, 32);
        margin: 14px 0 32px 6px;
        letter-spacing: -0.5px;
    p
        font-size: 18px;
        font-family: "OpenSansLightItalic", sans-serif;
        color: rgb(50, 44, 32);
        line-height: 1.556;
        margin 0 0 28px 11px
        span
            font-family: "OpenSansBoldItalic", sans-serif
            