#footer
    padding: 37px 0 33px
    text-align: center
    background-color: #221810
    h5
        font-size: 24px;
        color: rgb(255, 252, 252);
        line-height: 1.042;
        margin 0
    p
    #conditions
        font-size: 14px;
        font-family: "OpenSansLight", sans-serif;
        color: rgb(254, 254, 254);
        line-height: 1.786;
    #conditions
        margin 15px 0 0
        text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 13px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-image: linear-gradient( 0, #edb712 0%, #d58d03 100%);
			box-shadow 0 5px 7px 0 rgba(#ffffbe, .35) inset
			color #221810
			font-size 20px
			line-height 30px
			border-radius 50%
			&:hover
				background-image: linear-gradient( 180deg, #edb712 0%, #d58d03 100%);
				color: #150d06
#myPolitics
    .modal-title
        text-align: center
        font-size: 22px
        font-family: "OpenSansSemibold", sans-serif
        small
            display block
            margin-top: 0
    .modal-body
        p
            font-size: 16px;
            text-align: left
            margin-bottom: 20px
.modal-header
    position relative
button.close
    position: absolute
    top 20px
    right 20px
    border-radius: 50%
    height 30px
    width: 30px
    line-height: 30px
    font-size: 18px
    padding 0
    margin 0
    z-index 99
#myModalForm
    .modal-content
        background-color #B8AC82
        background-image url(../img/for_bg.png)
        background-repeat: repeat
        background-position: center
#modalForm
    text-align: center
    h4
        font-size: 24px;
        color: rgba(26,20,13,0.902);
        margin: 20px 0
        letter-spacing: -0.5px;
    .form_bonus
        font-size: 18px;
        font-family: "OpenSansLightItalic", sans-serif;
        color: #301b0c;
    input
        margin: 20px auto