#need_for
    padding: 120px 0 54px
    position relative
    z-index 0
    background-image url(../img/for_bg.png)
    background-repeat: repeat
    top -45px
    h3
        margin-bottom: 88px
.for_questions_all:last-of-type
    margin-bottom 32px
.for_container
    margin-bottom: 40px
.for_img
    height 117px
    width: 116px
    margin 0 auto 17px
    background-image url(../img/icons.png)
    background-repeat: no-repeat
    background-position 0 0
.for_question
    font-size: 16px;
    font-family: "OpenSansLIght", sans-serif;
    color: rgb(26, 20, 13);
    line-height: 1.438;
    text-align: center
    &:after
        content: ''
        display block
        width: 15px
        height 3px
        margin 17px auto 14px
        background-color #29362f
.for_answer
    font-size: 16px;
    font-family: "OpenSansSemibold", sans-serif;
    color: rgb(26, 20, 13);
    line-height: 1.438;
    text-align: center;
.for_question_2
    .for_img
        background-position -116px 0
    .for_question:after
        background-color: #262d43
.for_question_3
    .for_img
        background-position -232px 0
    .for_question:after
        background-color: #511b28
.for_question_4
    .for_img
        background-position -348px 0
    .for_question:after
        background-color: #7c3e07
.for_question_5
    .for_img
        background-position -464px 0
    .for_question:after
        background-color: #36584f
.for_question_6
    .for_img
        background-position -580px 0
    .for_question:after
        background-color: #511b45
.for_question_7
    .for_img
        background-position -696px 0
    .for_question:after
        background-color: #511b28
.for_question_8
    .for_img
        background-position -812px 0
    .for_question:after
        background-color: #262d43
.for_question_9
    .for_img
        background-position -928px 0
    .for_question:after
        background-color: #7c3e07