#mail_section
    padding 47px 0
    background-image url(../img/mail_bg.png)
    background-repeat: repeat-x
    position relative
    top: -23px
    z-index 9
.mail_section_title
    font-size: 26px;
    color: rgba(26, 20, 13, 0.902);
    margin -5px 0 6px
    letter-spacing: -0.5px;
.mail_section_bonus
  font-size: 18px;
  font-family: "OpenSansLightItalic", sans-serif;
  color: rgb(48, 27, 12);