#main_screen
	width: 100%
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position center
	background-size: cover
	overflow hidden
#header
	padding: 23px 0 20px
	overflow hidden
	z-index: 9
	position relative
	border-bottom: 1px solid rgba(#FDFCFC, .2)
	margin-bottom: 25px
#logo
	float: left
	opacity .5
	// line-height: 16px
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		font-size: 10px
		.fa
			color: #ffc729
			font-size: 18px
			margin: 0 15px 0  40px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 16px;
			font-family: "OpenSansRegular", sans-serif;
			color: rgba(#fff, .6)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
#main_content
	.container
		position relative
.pre
	font-size: 27px;
	font-family: "OpenSansLight", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.111;
	text-shadow: 0px 0px 32.4px rgba(0, 0, 0, 0.5);
h1
	font-size: 44px;
	color: rgb(255, 199, 41);
	line-height: 1.205;
	text-shadow: 0px 0px 32.4px rgba(0, 0, 0, 0.5);
	max-width: 914px;
	margin 15px 0
	letter-spacing: -1.3px;
.main_icon
	display: inline-block
	height 21px
	background-image: url(../img/main_icons.png)
	background-repeat no-repeat
	position: relative;
.main_icon_calendar
	width: 20px
	background-position 0 center
	margin-right: 20px;
	top 2px
.main_icon_horn
	width: 25px
	background-position -20px center
	margin-right 15px
	top: 3px;
.main_content_date
	font-size: 20px;
	font-family: "OpenSansBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 21px
	vertical-align: middle
	text-shadow: 0px 0px 32.4px rgba(0, 0, 0, 0.5);
	margin-bottom: 9px
	span
		font-family: "OpenSansLight", sans-serif;
.main_content_author
	font-size: 20px;
	font-family: "OpenSansLight",sans-serif;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 32.4px rgba(0, 0, 0, 0.5);
.video_wrapper_main
	width: 463px
	margin 20px 0 65px
#tess_main
	position: absolute
	bottom: -70px
	right -26px
#bonus
	#main_screen
		padding-bottom: 60px
		min-height calc(100vh - 190px)
	#header
		margin-bottom: 30px
.bonus_pre
.bonus_main_title
	text-align: center
.bonus_main_title
	max-width none
	margin 20px 0
.bonus_video_wrapper
	max-width 650px
.task_question
	font-size: 20px
	max-width 650px
	margin 20px auto 0
	background-color rgba(#fff, .95)
	box-shadow: 0 3px 5px rgba(0,0,0,.5)
	padding 20px
	text-align: center
	span
		font-family: 'OpenSansBold', sans-serif
#course
	#main_screen
		padding-bottom: 60px
.course_pre 
.course_title
.course_main_content_date
.course_main_content_author
	text-align: center
.course_title
	margin: 15px auto 40px
.course_main_content_author
	margin: 25px 0 40px
	font-family: "OpenSansBold", sans-serif;
	span
		font-family: "OpenSansLight", sans-serif;