#main_plan
    padding: 102px 0 103px
    background-image url(../img/plan_bg.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    h3
        color #fff
#main_plan_days
    overflow hidden
    margin-bottom: 75px
.main_plan_day
    float left
    width: 503px
    height 564px
    background-image url(../img/day_bg.png)
    background-repeat no-repeat
    padding 99px 60px 20px 60px
    margin-left: 23px;
    h4
        font-size: 30px;
        color: rgb(50, 44, 32);
        line-height: 0.933;
        margin 0 0 31px
        text-align: center
.main_plan_day.day_2
    float right
    margin-left: 0
    margin-right: 25px
.main_plan_day_list
    margin-left: 18px;
    li
        font-size: 18px;
        line-height: 1.556;
        margin-bottom: 18px
        span
            color: rgb(50, 44, 32);

.main_plan_day_bonus
    font-size: 18px;
    line-height: 1.556;
    span
        font-family: 'OpenSansBold', sans-serif
.day_1
    .main_plan_day_list li
    .main_plan_day_bonus span
            color #5D1424
.day_2
    .main_plan_day_list li
    .main_plan_day_bonus span
            color #15574D