@media screen and (min-width 2500px)
    .container
        width: 1400px
    .main_content_date
    .main_content_author
        font-size: 24px
    .mail_section_title
    #main_last h5
        font-size: 30px
    .mail_section_bonus
    #modalForm .form_bonus
    .for_question
    .for_answer
    .main_plan_day_list li
    .main_plan_day_bonus
    #about_description p
        font-size: 22px
    .button
    #modalForm
        input
        .button
            font-size: 20px
            width: 310px
    #modalForm
        input
            margin: 20px auto
    .main_plan_day
        width: 560px
        height 610px
        background-size: cover
    #modalForm h4
        font-size: 28px
    .checking .check_label
        font-size: 14px
    .autor_col_right
        width: 57%
    .autor_col_left
        width: 43%
    .bonus_pre
        margin: 40px 0
    .bonus_video_wrapper
        margin-top: 60px
    .form_newsletter
        input
        .button
            width: 100%
    .form_newsletter_last
        input
        .button
            width: 400px
    .alert_message
        font-size: 18px
@media screen and (max-width 1199px)
    .contacts a .fa
        margin 0 10px 0 20px
    #tess_main
        right -180px
    #mail_section
        top -35px
    .form_newsletter_main
        input
        .button
            width: 100%
            margin-top: 23px;
    .main_plan_day
        width: 445px;
        height: 630px;
        background-size: 100% 100%;
    .autor_col_right
        width: 55%
    .autor_col_left
        width 45%
    #tess_about
        left -85px
    #about_bg
        left -380px
    .owl-theme .owl-nav
        left -15px
@media screen and (max-width 991px)
    #header
        padding: 15px 0
    #logo
        display: block
        float: none
        width: 162px
        height auto
        margin: 0 auto 15px
    .contacts
        float: none
        text-align: center
        a
            display: inline-block
            margin-bottom 10px
            &:last-child
                margin-bottom: 0
    #mail_section
        top: -46px;
        text-align: center
    .form_newsletter_main .button, .form_newsletter_main input
        max-width 310px
    .form_newsletter_main input
        margin 20px auto
    .main_plan_day
    .main_plan_day.day_2
        float: none
        margin 0 auto
    .main_plan_day.day_2
        margin-top: 40px
    .autor_col_left
        width: 30%
    .autor_col_right
        width: 70%
    #about_bg
        left -565px
    #tess_about
        left: -265px    
    #testims_container.owl-carousel
        .owl-stage-outer
            width: 95%
            margin 0 auto
        .owl-nav
            width: 100%
    .last_container
        margin: 0 auto
    .owl-theme .owl-nav 
        left: 0;
        right: 0;
        width: 100%;
@media screen and (max-width 767px)
    .contacts a .fa
    .contacts a .fa + span
        font-size: 14px
    .contacts a
        margin-bottom: 0
    #tess_main
    #about_bg
        display: none
    #header
        margin-bottom: 35px
    #main_content
        text-align: center
        padding-bottom: 60px
    #mail_section
        background-size: cover
    .video_wrapper_main
        width 100%
        margin  20px auto 0
    .modal-dialog
        max-width 480px
        margin: 15px auto 0
    #need_for
        padding-top: 70px
    .for_container
        max-width: 400px
        margin 0 auto 40px
    #main_plan
        padding: 60px 0 75px
    #author
        padding-top: 60px
    .autor_col_left
    .autor_col_right
        float: none
        width: 100%
    #tess_about
        position: static
        max-width 280px
        margin 0 auto 20px
        float left
    #certificates
        top: 0
    .button_partner
        margin 40px auto
    #testimonials
        padding: 20px 0 50px
    #main_last
        padding  40px 0
    #footer
        padding: 20px 0
    #testims_container.owl-carousel .owl-item img
        width: 100%
    #testims_container.owl-carousel .owl-nav
        position: static
        margin-top: 20px
    #testims_container.owl-carousel .owl-item
        min-height 130px
    #bonus #main_screen
        padding-bottom: 30px
    #vk_comments
        margin-bottom: 20px
@media screen and (max-width 667px)
    .contacts a
        display block
        margin-bottom: 5px
    .contacts a .fa
        margin-left: 0
@media screen and (max-width 540px)
    .main_plan_day
        width: 100%;
        height: auto;
        padding 90px 40px 80px
    .main_plan_day_bonus
    .main_plan_day_list li
        line-height: 1.3
@media screen and (max-width 480px)
    #mail_section
    #certificates
        background-image: url(../img/for_bg.png)
        background-repeat: repeat
        background-color: #C7AE77
        top: 0
    .modal-dialog
        max-width 96%
    #tess_about
        float: none
        display block
    #main_content
        padding-bottom: 30px
    #feedback
        padding 30px 0
@media screen and (max-width 426px)
    .pre
        font-size: 24px
    h1
        font-size: 36px
        line-height: 1.1
        margin  20px 0 25px
    h3
    #need_for h3
        font-size: 32px
        margin-bottom: 30px
        line-height: 1
    #need_for
        top 0
    .modal-body
        padding: 10px
    #modalForm input
    #modalForm .button
        width: 90%
    button.close
        top 10px
        right 10px
    .checking .check_label
        line-height: 1.2
    #about_description p
        line-height: 1.3
    #about_description h4
        margin-bottom: 20px
    #main_last h4
        font-size:30px
        line-height: 1.3
        margin-bottom: 20px
    #main_last h4 + p
        font-size: 22px
        line-height: 1.2
    #main_last h5
        font-size: 24px
        line-height: 1.3
        margin-top: 20px
    #footer #conditions, #footer p
        font-size: 14px
    .button_partner
        width: 90%
    .for_questions_all:last-of-type
        margin-bottom: 20px
    #main_plan_days
        margin-bottom: 30px
    #main_plan
        padding-bottom: 40px
    .owl-theme .owl-nav
        position: static
        margin-top: 20px
    #testims_container.owl-carousel .owl-stage-outer
        width: 100%
    #testims_container.owl-carousel .owl-item
        min-height 70px
    #footer h5
        font-size: 20px
    .soc_buttons a
        margin 10px 8px
    .main_plan_day
        padding: 90px 30px 80px
    .form_newsletter_last .button, .form_newsletter_last input
        width: 90%
        max-width 310px
    .checking
        display block
        max-width none
        width: 90%
    .task_question
        font-size: 18px
        padding 10px
    #bonus #main_content
        padding-bottom: 0
@media screen and (max-width 320px)
    h1
        font-size: 30px
        line-height: 1
    .pre
        font-size: 22px
    .button
        width: 100%
    #tess_about
        width: 100%
    .button_partner
        width: 90%